# Backend - Hotel El Sol
PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_DATABASE=hotel_el_sol
JWT_SECRET=cambia_este_secreto_en_produccion
NODE_ENV=development
CORS_ORIGIN=http://localhost:3001
